<%@ control language="C#" autoeventwireup="true" inherits="controls_userNavigationControl, App_Web_nsj5qp0s" %>
<link href="~/styles/style.css" rel="stylesheet" type="text/css" />
<table cellpadding="1" width="100%">
    <tr>
        <td colspan="6" align="center">
            <%--<asp:Image ID="imgHeader" runat="server" ImageUrl="~/images/nuskill_1.png" />--%>
            <asp:Image ID="Image1" runat="server" ImageUrl="~/images/TranscomU_Testing_Small1.png" />
            </td>
    </tr>
</table>
