<%@ Page Language="C#" MasterPageFile="~/masterpages/nuSkill_manager_site.master" AutoEventWireup="true" CodeFile="exam.aspx.cs" Inherits="exam" Title="Transcom University Testing Admin" %>
<%@ Register TagPrefix="wus" TagName="examstatuscontrol" Src="~/controls/examstatuscontrol.ascx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphSidebar" Runat="Server">
    <wus:examstatuscontrol ID="wusExamStatus" runat="server" />
</asp:Content>

