<%@ Page Language="C#" MasterPageFile="~/masterpages/nuSkill_manager_site.master"
    AutoEventWireup="true" CodeFile="newquestion.aspx.cs" Inherits="newquestion"
    Title="Transcom University Testing Admin" %>

<%@ Register TagPrefix="wus" TagName="editexamitemcontrol" Src="~/controls/editexamquestioncontrol.ascx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphSidebar" runat="Server">
    <wus:editexamitemcontrol ID="wusEditItem" runat="server" />
</asp:Content>
