﻿.MenuStyle
{
	font-size:x-small;
	padding:0px 5px 0px 5px;
	color:Black;
}
.HoverStyle
{
	font-size:small;
	padding:0px 5px 0px 5px;
	color:Black;
}

.SelectedStyle
{
	font-size:x-small;
	padding:0px 5px 0px 5px;
	background-color:Black;
}

.tabName
{
	padding-left:5px;
	font-weight:bold;
	font-size:medium;
	background-color:#B6CAE3;
	color:Navy;
}

H1
{
	padding-left:5px;
	font-weight:bold;
	font-size:large;
	background-color:#B6CAE3;
	color:Navy;
}

H2
{
	padding-left:5px;
	font-weight:bold;
	font-size:medium;
	background-color:#B6CAE3;
	color:Navy;
}

H3
{
	padding-left:5px;
	font-weight:bold;
	font-size:small;
	background-color:#B6CAE3;
	color:Navy;
}

H4
{
	padding-left:5px;
	font-weight:bold;
	font-size:x-small;
	background-color:#B6CAE3;
	color:Navy;
}


TR 
{
	BORDER-RIGHT: 0px; 
	BORDER-TOP: 0px; 
	FONT-SIZE: 11px; 
	BORDER-LEFT: 0px; 
	COLOR: #000000; 
	BORDER-BOTTOM: 0px; 
	FONT-FAMILY: Tahoma,Verdana,Arial;
}

TD 
{
	BORDER-RIGHT: 0px; 
	BORDER-TOP: 0px; 
	BORDER-LEFT: 0px; 
	BORDER-BOTTOM: 0px; 
	TEXT-ALIGN: left
}

BODY 
{
	COLOR: Navy;
}

A:visited 
{
	COLOR: #0000ff; TEXT-DECORATION: none
}

A:Hover
{
	padding-left:15px;
	BACKGROUND-ATTACHMENT: fixed; 
	COLOR: White; 
	font-weight:bold;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

A
{	
	COLOR: #0000ff; 
	TEXT-DECORATION: none
}

SELECT
{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	COLOR: #000000; 
	FONT-FAMILY: Tahoma,Verdana,Arial
}
INPUT 
{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	COLOR: #000000; 
	FONT-FAMILY: Tahoma,Verdana,Arial
}

.lbuttons
{
	padding-left:15px;
	BACKGROUND-ATTACHMENT: fixed; 
	COLOR: #003c74; 
	font-weight:bold;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

P 
{
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 10px; 
	MARGIN: 5px 20px 0px; 
	COLOR: #000000; 
	FONT-FAMILY: Tahoma,Verdana,Arial;
}

.buttons {
	BORDER-RIGHT: #cccccc 1px solid; 
	BORDER-TOP: #999999 1px solid; 
	FONT-SIZE: 10px; 
	BACKGROUND-ATTACHMENT: fixed; 
	BORDER-LEFT: #999999 1px solid; 
	COLOR: #003c74; 
	BORDER-BOTTOM: #cccccc 1px solid; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

.blackfore
{
	color:Black;
}