<%@ master language="C#" autoeventwireup="true" inherits="masterpages_site, App_Web_qhrjdttz" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Register TagPrefix="wus" TagName="usernavigationcontrol" Src="~/controls/userNavigationControl.ascx" %>
<%@ Register TagPrefix="wus" TagName="logincontrol" Src="~/controls/logincontrol.ascx" %>
<%@ Register TagPrefix="wus" TagName="userfootercontrol" Src="~/controls/userFooterControl.ascx" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Transcom University Testing</title>
    <link href="~/themes/nuSkill_frontend_style.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
</head>
<body style="background-color: Gainsboro;">
    <form id="form2" runat="server" class="generic">
        <asp:ScriptManager ID="scriptMain" runat="server" EnablePartialRendering="true" />
        <asp:UpdatePanel ID="udpMain" runat="server" ChildrenAsTriggers="true" UpdateMode="conditional">
            <ContentTemplate>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style="background-color: Gainsboro;">
                            <center>
                                <table border="0" cellpadding="0" cellspacing="0" width="760px" style="background-color: White;
                                    color: Black">
                                    <tr>
                                        <td>
                                            <wus:usernavigationcontrol ID="UserNavigationControl1" runat="server" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 400px; text-align: justify; vertical-align: top;">
                                            <asp:ContentPlaceHolder ID="cphSidebar" runat="server">
                                            </asp:ContentPlaceHolder>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="background-color: #C1D6E7;">
                                            <wus:userfootercontrol ID="UserFooterControl1" runat="server" />
                                        </td>
                                    </tr>
                                </table>
                            </center>
                        </td>
                    </tr>
                </table>
            </ContentTemplate>
        </asp:UpdatePanel>
    </form>
</body>
</html>
