<%@ page language="C#" masterpagefile="~/masterpages/nuSkill_frontend_site.master" autoeventwireup="true" inherits="_Default, App_Web_o5nevnzg" title="Transcom University Testing" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphSidebar" Runat="Server">
</asp:Content>

