<%@ page language="C#" masterpagefile="~/masterpages/nuSkill_manager_site.master" autoeventwireup="true" inherits="editexam, App_Web_yuclf4ni" title="Transcom University Testing Admin" %>
<%@ Register TagPrefix="wus" TagName="editexamcontrol" Src="~/controls/editexamcontrol.ascx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphSidebar" Runat="Server">
    <wus:editexamcontrol ID="wusEditExamControl" runat="server" />
</asp:Content>

