<%@ page language="C#" masterpagefile="~/masterpages/nuSkill_manager_site.master" autoeventwireup="true" inherits="exam, App_Web_yuclf4ni" title="Transcom University Testing Admin" %>
<%@ Register TagPrefix="wus" TagName="examstatuscontrol" Src="~/controls/examstatuscontrol.ascx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphSidebar" Runat="Server">
    <wus:examstatuscontrol ID="wusExamStatus" runat="server" />
</asp:Content>

