<%@ page language="C#" masterpagefile="~/masterpages/nuSkill_manager_site.master" autoeventwireup="true" inherits="newquestion, App_Web_yuclf4ni" title="Transcom University Testing Admin" %>

<%@ Register TagPrefix="wus" TagName="editexamitemcontrol" Src="~/controls/editexamquestioncontrol.ascx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphSidebar" runat="Server">
    <wus:editexamitemcontrol ID="wusEditItem" runat="server" />
</asp:Content>
