<%@ page language="C#" autoeventwireup="true" inherits="NuSkillCheckV2Reports, App_Web_yuclf4ni" %>

<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
    Namespace="Microsoft.Reporting.WebForms" TagPrefix="srs" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Egg Timer Report Page</title>
</head>
<body>
    <form id="form1" runat="server">
        <asp:DropDownList ID="ddlReports" runat="server" DataTextField="DisplayName" DataValueField="ReportURL" />
        <asp:Button ID="btnView" runat="server" Text="View" CssClass="buttons" OnClick="btnView_Click" />
        <br />
        <br />
        <srs:ReportViewer ID="ReportViewer1" runat="server" ShowBackButton="false" ShowPrintButton="false"
            ShowZoomControl="false" ShowFindControls="false" ShowExportControls="true" Width="100%"
            Height="600px" ProcessingMode="Remote">
        </srs:ReportViewer>
    </form>
</body>
</html>
