<%@ page language="C#" masterpagefile="~/masterpages/nuSkill_manager_site.master" autoeventwireup="true" inherits="userinfo, App_Web_yuclf4ni" title="Transcom University Testing Admin" %>
<%@ Register TagPrefix="wus" TagName="userinfocontrol" Src="~/controls/userinfocontrol.ascx"  %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphSidebar" Runat="Server">
    <wus:userinfocontrol ID="wusUserInfoControl" runat="server" />
</asp:Content>

