<%@ page language="C#" masterpagefile="~/masterpages/nuSkill_manager_site.master" autoeventwireup="true" inherits="viewsinglequestion, App_Web_yuclf4ni" title="Transcom University Testing Admin" %>
<%@ Register TagPrefix="wus" TagName="examquestioncontrol" Src="~/controls/examquestioncontrol.ascx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphSidebar" Runat="Server">
    <wus:examquestioncontrol ID="wusExamQuestionControl" runat="server" />
</asp:Content>

